.outer-boundary{
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title-text{
    color: #1B263B;
    font-family: "KimjungchulMyungjo";
    font-size:50px;
    text-align: center;
  }